/* Shadow values are intended to be used with colors added to them */

/* Shadow values are intended to be used with colors added to them */

/* Shadow values are intended to be used with colors added to them */

/* Shadow values are intended to be used with colors added to them */
html,
body {
  background: #f2f5f7;
  box-sizing: border-box;
  color: #212b36;
  font-family: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 150%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.banner,
.contentinfo {
  background: #f2f5f7;
}

.banner {
  padding: 1rem 0;
}

.container {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 80rem;
  padding: 0.5rem 1rem;
}

.container--card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(33, 43, 54, 0.15);
}

h1 {
  font-weight: 700;
  margin: 0;
}

table {
  border-collapse: separate;
  border-spacing: 1rem;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  hyphens: auto;
  vertical-align: baseline;
  word-break: break-word;
}

th {
  font-weight: normal;
  text-align: left;
}

thead th {
  border-bottom: 1px solid #e7ebee;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

thead th:first-child {
  font-size: 1.5rem;
}

code {
  font-family: 'SFMono-Regular', Consolas, 'Fira Sans', 'Liberation Mono', Menlo, 'Courier New', Courier, monospace;
}

hr {
  border: 0;
  border-top: 1px solid #e7ebee;
  display: block;
  height: 1px;
  margin: 2rem 0;
  padding: 0;
}

hr:last-child {
  display: none;
}

.metric-box,
.radius-box {
  background: #004c99;
  display: inline-block;
  vertical-align: middle;
}

.radius-box {
  height: 3rem;
  width: 100%;
}

.radius-box.borderRadiusCircle {
  width: 3rem;
}

.line-height-example {
  background-image: -webkit-linear-gradient(#e7ebee 1px, transparent 1px);
  background-image: linear-gradient(#e7ebee 1px, transparent 1px);
  background-size: 100% 1rem;
  border-bottom: 1px solid #e7ebee;
}
